<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <title>EVENTOS CADASTRADOS</title>
</head>
<body>
<h1> Lista em eventos </h1>
<ul>
{% for inscrito in inscritos %}
    <li><a href="{ url 'alterar_inscricao' inscrito.id}"> {{inscrito.nome}} -  <a href="{% url 'deletar_inscricao' inscrito.id %}"> Deletar </a></a> </li><br>
{% endfor %}
</ul>
</body>
</html>