<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trabalhos</title>
</head>
<body>
<h1> Trabalhos Submetidos </h1>
<ul>
{% for trabalho in trabalhos %}
    <a href="{% url 'alterar_trabalho' trabalho.id %}">
  {{trabalho.descricao}} - {{trabalho.nome}}  <a href="{% url 'deletar_trabalho' trabalho.id %}"> Deletar </a> <br>
{% endfor %}
</ul>
</body>
</html>